<appSettings>
  <!--<add key="host_ip" value="192.168.5.127"/>-->
  <!--<add key="host_ip" value="127.0.0.1"/>-->
  <add key="host_ip" value="127.0.0.1"/>
  <add key="Robot1_enable" value="true"/>
  <add key="Robot2_enable" value="false"/>
  <add key="Aligner1_enable" value="false"/>
  <add key="Aligner2_enable" value="false"/>
  <add key="BF1_Enable" value="true"/>
  <add key="BF2_Enable" value="true"/>
  <add key="BF3_Enable" value="false"/>
  <add key="BF4_Enable" value="false"/>
  <add key="PORT1_Enable" value="true"/>
  <add key="PORT2_Enable" value="true"/>
  <add key="PORT3_Enable" value="true"/>
  <add key="PORT4_Enable" value="true"/>
  <add key="cmd_timeout" value="600000"/><!-- 10 minutes -->
  <add key="ack_timeout" value="5000"/><!-- 5 seconds-->
  <add key="ack_sleep_time" value="50"/><!-- 1 seconds-->
</appSettings>